name: System Generate Snake

on:
  schedule:
    - cron: "0 0 * * *" 
  workflow_dispatch:
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: Platane/snk/svg-only@v3
        id: snake-gif
        with:
          github_user_name: Bellingham-max
          # 这里使用了 "Nord" 主题配色：冰蓝色系，非常高级，不刺眼
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=#88C0D0&color_dots=#2E3440,#4C566A,#81A1C1,#88C0D0,#ECEFF4
            
      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
