name: Generate Neon Snake

on:
  # 每天半夜自动运行
  schedule:
    - cron: "0 0 * * *" 
  # 允许手动触发
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: Bellingham-max
          # 核心修改：使用了更丰富、更赛博的霓虹配色板
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=#00f2ea&color_dots=#141321,#4b0082,#ba55d3,#ff00ff,#00f2ea
        env:
          # 必须使用 GITHUB_TOKEN 进行权限认证
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
